a {
    text-decoration: none;
    color: $nameTitle;
}
.onetweet-user-icon-wrapper {
    border-radius: 50%;
    overflow: hidden;
    margin-top: 5px;
    width: 50px;
    height: 50px;
}
.user-icon-wrapper {
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
}
.user-icon {
    width: 100%;
    height: 100%;
}
.title {
    font-size: 18px;
    line-height: 55px;
    font-weight: 700;
    padding-left: 15px;
}
.tweets {
    height: calc(100vh - 185px);
    overflow-y: scroll;
}
.onetweet {
    width: 100%;
    // height: 145px;
    overflow-x: hidden;
    padding: 10px;
    display: flex;
    border-left: 1px solid $tweetListBg;
    border-right: 1px solid $tweetListBg;
    border-bottom: 1px solid $tweetListBg;
}
.onetweet-txt-wrapper {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    margin-left: 10px;
    flex: 1;
}
.onetweet-txt-header {
    margin-bottom: 6px;
}
.onetweet-txt {
    margin-top: 6px;
}
.user-title {
    font-weight: 700;
    line-height: 21px;
}
.user-info {
    margin-left: 5px;
    color: $tag;
}
.user-link {
    text-decoration: none;
    color: $tag;
}
.user-link-time {
    font-style: 15px;
    font-weight: 500;
}
.onetweet-footer {
    display: flex;
}
.chat {
    display: flex;
    align-items: center;
}
.heart {
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.onetweet-footer-icon {
    margin-top: 13px;
    width: 13px;
    height: 13px;
}
.chat-icon,
.heart-icon {
    width: 100%;
    height: 100%;
    &:hover {
        cursor: pointer;
    }
}
.footer-amount {
    margin-top: 13px;
    margin-left: 11px;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: $tag;
}
