.menu {
  width: 378px;
  height: 100vh;
  padding-left: 113px;
}

/* alphacamp-logo */
.logo-wrapper {
  width: 30px;
  height: 30px;
  margin-top: 14px;
}
.logo {
  width: 100%;
  height: 100%;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 95px);
  margin-top: 17px;
}
.menu-nav-link {
  display: flex;
  margin-top: 30px;
}
.menu-link {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: $nameTitle;
}
.menu-link-title {
  margin-left: 20px;
}
.menu-icon {
  margin-left: 20px;
}

.menu-nav-btn {
  background-color: $orange;
  margin-top: 24px;
  border: 0;
  font-size: 18px;
  width: 70%;
  padding: 10px 0;
  font-weight: 500;
  color: $white;
  border-radius: 30px;
  line-height: 18px;
}

.menu-nav-btn:hover {
  cursor: pointer;
}
i {
  font-size: 24px;
}
.active {
  color: $orange;
}
.active > a {
  color: $orange;
}
