#window {
  width: 1440px;
  height: 1200px;
  margin: auto;
}
.publicMessage {
  width: 100%;
  height: 100%;
  display: flex;

  .menu-container {
    width: 378px;
    height: 1200px;
    display: flex;
    justify-content: center;
  }

  .user-list {
    width: 390px;
    height: 1200px;
  }

  .message-box {
    width: 672px;
    height: 1200px;
    border-left: 1px solid $tweetListBg;
  }
}
