
.publicMessage {
  max-width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: auto;

  .menu-container {
    max-width: 378px;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .user-list {
    width: 390px;
    height: 1200px;
    border: 1px $divider solid;
    .online {
      width: 100%;
      display: flex;
      flex-direction: column;

      header {
        height: 55px;
        border-bottom: 1px $divider solid;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color: $nameTitle;

        .title {
          margin-left: 15px;
        }
      }

      &-user {
        height: 75px;
        border-bottom: 1px $divider solid;
        display: flex;

        .avatar {
          width: 50px;
          height: 50px;
          margin-left: 15px;
          margin-top: 10px;

          img {
            border-radius: 50%;
          }
        }

        .user-info {
          display: flex;
          margin-top: 24px;
          margin-left: 10px;
          font-size: 15px;
          line-height: 22px;

          .name {
            font-weight: bold;
            color: $nameTitle;
          }

          .account {
            margin-left: 5px;
            font-weight: 500;
            color: $tag;
          }
        }
      }
    }
  }

  .message-box {
    width: 672px;
    height: 100vh;
    border-left: 1px solid $tweetListBg;
  }
}
.online {
  width: 100%;
  display: flex;
  flex-direction: column;
  header {
    height: 55px;
    border-bottom: 1px $divider solid;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: $nameTitle;
    .title {
      margin-left: 15px;
    }
  }

  &-user {
    height: 75px;
    border-bottom: 1px $divider solid;
    display: flex;

    .avatar {
      width: 50px;
      height: 50px;
      margin-left: 15px;
      margin-top: 10px;
      img {
        border-radius: 50%;
      }
    }
    .user-info {
      display: flex;
      margin-top: 24px;
      margin-left: 10px;
      font-size: 15px;
      line-height: 22px;
      .name {
        font-weight: bold;
        color: $nameTitle;
      }
      .account {
        margin-left: 5px;
        font-weight: 500;
        color: $tag;
      }
    }
  }
}
