#window {
  width: 1440px;
  height: 1200px;
  margin: auto;
}
.publicMessage {
  width: 100%;
  height: 100vh;
  display: flex;
}
.userList {
  width: 390px;
}
.content-header {
  height: 55px;
  border: 1px solid $tweetListBg;
}
.title {
  font-size: 18px;
  line-height: 55px;
  font-weight: 700;
  padding-left: 15px;
}
.messageBox {
  flex: 1;
}
