.main-container {
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
}

.content {
  height: 100vh;
  width: 70%;
  border-left: 1px solid $tweetListBg;
}

.content-header {
  height: 55px;
  border-bottom: 1px solid $tweetListBg;
}

.title {
  font-size: 18px;
  line-height: 55px;
  font-weight: 700;
  padding-left: 15px;
}

.setting-form {
  width: 60%;
  margin: 30px 0px 0px 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 642px;
}
.input-txt {
  display: flex;
  flex-direction: column;
  border-radius: 4px 4px 0px 0px;
  overflow: hidden;
  border-bottom: 2px solid $tag;
  background-color: $popularBg;
  height: 52px;
  &:hover {
    border-bottom: 2px solid $inputfocus;
  }
}
.input-wrapper-info {
  height: 32px;
  font-size: 15px;
  font-weight: 500;
  color: $inputerror;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.error-info {
  // visibility: hidden;
  font-size: 15px;
  font-weight: 500;
}
.amount {
  // visibility: hidden;
  font-size: 15px;
  font-weight: 500;
  color: $tag;
  position: absolute;
  right: 0px;
  z-index: 0;
}
.error {
  border-bottom: 2px solid $inputerror;
}
.focus {
  border-bottom: 2px solid $inputfocus;
}
.input-txt > label {
  font-size: 15px;
  line-height: 15px;
  color: $tag;
  margin-top: 5px;
  margin-left: 10px;
}
input[type="email"],
input[type="password"],
input[type="text"] {
  margin-left: 10px;
  background-color: $popularBg;
  border: none;
  flex: 1;
}

.button-wrapper {
  text-align: right;
  width: 642px;
  margin-top: 18px;
}
.form-submit-btn {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  background-color: $orange;
  color: $white;
}
