
header {
  position: relative;
  .logo-wrapper {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    .logo {
      width: 30px;
      height: 30px;
      margin: 10px;
    }    
  }

  .nav {
    position: relative;
    width: 100%;
    margin-top: 70px;
    font-size: 18px;

    &-link {
      color: $nameTitle;
      
    }
    &-user {
      color: $orange;
    }

    &-item {
      height: 56px;
      display: flex;
      align-items: center;
    }
    &-post-btn {
      width: 210px;
      height: 38px;
      background: $orange;
      border-radius: 100px;
      font-weight: 500;
      font-size: 18px;
      color: $white;
    }

    
    .icon {
      width: 24px;
      height: 24px;
      margin: 0 20px;
    }

    
    .clicked {

    }

  }
  .logout {
    position: absolute;
    bottom: 0;
    &-item {
      height: 56px;
      display: flex;
      align-items: center;
    }
    .icon {
      width: 24px;
      height: 24px;
      margin: 0 20px;
      
    }
  }

  
}