#tweet-list {  
  width: 100%;
  height: 689px;
  // overflow-y: scroll;
  // overflow-x: hidden;

  .tweet {
    display: flex;
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px $divider solid;

    &-avatar{
      width: 75px;
      // height: 135px;
      img {
        width: 50px;
        height: 50px;
        margin: 3px 10px 0 15px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        
      }
    }
    &-main {
      max-width: 525px;
      font-weight: 500;
      font-size: 15px;
    }

    &-user-info {
      display: flex;
      margin-bottom: 6px;
      line-height: 21.72px;
      .account {
        margin-left: 5px;
        color: $tag;
      }
      .name {
        font-weight: 700;
        color: $nameTitle;
      }

    }

    &-content {
      max-width: 510px;
      // height: 66px;
      line-height: 22px;
      // overflow-y: scroll;
      color: $nameTitle;
    }


    &-status {
      display: flex;
      flex-grow: 1;
      height: 21px;
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      margin: 5px 0 15px;

      .state {
        display: flex;
        margin: 10px 0;
      }

      img {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        cursor: pointer;
      }

      .count {
        margin-right: 50px;
        font-size: 13px;
        line-height: 13px;
        color: $tag;
      }
      
    }
    

  }

  .noLength {
    margin: 15px 0 0 15px;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    color: $nameTitle;
  }

}