


.user {
  // max-width: 1440px;
  // max-height: 1200px;
  margin: 0 82px 0 113px;

  
  display: grid;
  grid-template-columns: 235px 600px 350px;
  grid-gap: 0 30px;
  grid-template-areas: 
    "menu center-column popular";


  .menu {
      grid-area: menu;
      // position: fixed;

  }

  .center-column {
      grid-area: center-column;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-right: 1px $divider solid;
      border-left: 1px $divider solid;

      // overflow-y: scroll;

  }

  .popular {
      grid-area: popular;
  }
  &-spinner {
    height: 100%;
  }


}